@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

*:active,
*:hover {
    cursor: default;
}

body {
	background: url("./../pic/PGC3074547.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #FFFFFF;
    min-width: 596px;
    margin: 0px;
}

h1 {
	cursor: default;
	margin: 1px;
	padding: 1px;
	color: #6633FF;
	text-outline: 1px 1px #FFFFFF;
	font-family: 'Lato', mono;
	font-size: 48px;
	float: right;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h2 {
	cursor: default;
	color: #333333;
	font-family: 'Lato', mono;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#sidebar {
  width: 56px;
  height: 100vh;
  padding-top: 12px;
  overflow-y: auto;
  background-color: #333333;
  float: left;
  text-align: center;
  border-right: 4px solid #CCCCCC;
}

.app {
  display: inline-block;
  padding: 8px;
  outline-color: #FFFFFF;
}

div.connection {
  float: left;
  width: 308px;
  height: 480px;
  overflow-y: auto;
  border: 1px solid #333333;
}

div.finder {
  height: 96px;
  padding: 12px;
}

div.verse {
  text-align: center;
}

div.contact {
  height: 80px;
  margin: 12px;
  padding: 12px;
  border: 1px dashed #666666;
}

.appWin {
	position: absolute;
    left: 32px;
    top: 32px;
}

input[type=search].finder {
	background-color: #FFFFFF;
	width: 176px;
	padding: 8px 16px;
	border: 2px solid #999999;
	margin: 4px;
	text-decoration: none;
	display: inline-block;
	font-family: 'Lato', mono;
	font-size: 18px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

input[type=search].finder:focus {
    border: 2px solid #FF6633;
}

input[type=button].finder{
	background-color: #333333;
	border: none;
	color: #FFFFFF;
	margin: 2px;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	font-family: 'Lato', mono;
	font-size: 16px;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	outline: none;
}

input[type=button].finder:hover {
    background-color: #FF6633;
    color: #333333;
}

label {
  color: #999999;
  font-family: 'Lato', mono;
  font-size: 24px;
}

p.prevmsg {
  font-style: italic;
  color: #333333;
}

table.footer {
  clear: both;
  color: #434343;
  font-family: 'Lato', mono;
}