@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
* {
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
}

*:active,
*:hover {
    cursor: default;
}